<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.UpdateMapper">

   <update id="updateUser" parameterType = "com.example.demo.model.User">
   		UPDATE m_user
		SET user_name = #{user_name},mail = #{mail},pass = #{pass}
		WHERE m_user.user_id = #{user_id};
   </update>

	<update id="deleteUser" parameterType = "com.example.demo.model.User">
   		UPDATE m_user
		SET isdeleted = 1
		WHERE m_user.user_id = #{user_id};
   </update>

	<!-- 返却時に在庫数を戻す -->
	<select id="findByHistoryBook" resultType="com.example.demo.model.Book">
   		SELECT max_num
   		FROM m_book
   		WHERE m_book.book_id = #{book_id};
	</select>

	<update id="updateBook" parameterType = "com.example.demo.model.Book">
   		UPDATE m_book
		SET max_num = #{max_num}
		WHERE m_book.book_id = #{book_id};
   </update>

</mapper>