<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/book.css">
<title>Insert title here</title>
</head>

<script type="text/javascript">
	$(document).ready(function() {

		$('.returnTable').click(function() {

			let td_book_id = $(this).children('td')[0].innerText;
			$('#book_id').val(td_book_id);

			let td_book_userid = $(this).children('td')[1].innerText;
			$('#book_userid').val(td_book_userid);

			let td_book_title = $(this).children('td')[2].innerText;
			$('#book_title').val(td_book_title);

			let td_book_author = $(this).children('td')[3].innerText;
			$('#book_author').val(td_book_author);

			$('#returnModal').modal('show');
		});
	});
</script>

<body>
	<table>
		<tr th:each="returnBook: ${Loan}" class="returnTable">
			<td th:text="${returnBook.book_id}"></td>
			<td th:text="${returnBook.user_id}"></td>
			<td th:text="${returnBook.title}"></td>
			<td th:text="${returnBook.author}"></td>
			<td th:text="${returnBook.category}"></td>
		</tr>
	</table>

	<!-- 返却モーダル -->
	<div class="modal fade" id="returnModal" tabindex="-1" role="dialog"aria-labelledby="Modal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="imageBlock">
            			<img class="bookImage"  src="../images/book.png" alt="">
            			<p class="inventory">在庫数1冊</p>
        			</div>
        			<a th:href="@{/bookrental}" class="edit">編集する</a>
        			<input type="text" id="book_id">
        			<input type="text" id="book_userid">
        			<p class="bookTitle"></p>
        			<input type="text" id="book_title">
        			<p class="author"></p>
        			<input type="text" id="book_author">
        			<p class="bookPage">ページ数:210枚</p>
        			<p class="description"></p>
					<form th:action="@{/elbooks/returnBook}" th:method="post" th:object="${history}">
						<button type="submit" id="return_Book" class="return-after-complete">返却</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>